<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sentimental Analasys</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="{{ url_for('static', filename= 'particles/particles.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>

    <!-- Navigation för index sidan ljus navbar -->
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="logo.png" width="30%" alt="" class="d-inline-block align-middle mr-2">
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#" class="nav-link">Hem</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Statistik</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Hur Det Fungerar</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Kontakta Mig</a></li>
      </ul>
    </div>
  </div>
</nav>


  <!--  ALLT SOM SKALL GÖRAS I BODY PÅ HEMSIDAN FÖRUTOM NAVBAR OCH FOOTBER MÅSTE GÖRAS HÄR I CONTENT DIV -->
      <div id="particles-js"></div>
      <div class="content">


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Välkommen till Sentimental</h1>
            <p class="lead font-weight-normal">Sentimental ger dig en inblick i tonen på internet. Prova gärna ett valfritt ämne nedan med information hämtad från Twitter.</p>
            <a class="btn btn-outline-secondary" href="#">Hur det fungerar</a>
          </div>
          <div class="product-device box-shadow d-none d-md-block"></div>
          <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>


          <div id="Search" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <form method="get" class="form-inline">
                  <input name="search" class="form-control col"  type="search" placeholder="Jag söker... " aria-label="Search">
                  <button style="margin-left: 1%;" class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search1">Sök</button>
              </form>
          </div>
          </div>
      </div>

  </div>
  <script src="{{ url_for('static', filename= 'particles/script.js') }}">

  </script>

  </body>
</html>
